<div class="profile-container">
  <div class="form-container" [formGroup]="form" (submit)="submit()">
    <div class="title">Profile</div>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Firstname</mat-label>
      <input matInput placeholder="Ex: John" formControlName="firstName">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Lastname</mat-label>
      <input matInput placeholder="Ex: Doe" formControlName="lastName">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Ex: john-doe@example.com" formControlName="mail">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Password" formControlName="password">
    </mat-form-field>

    <div *ngIf="error">An error occured</div>

    <div class="action">
      <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="submit()">Update
      </button>
    </div>
  </div>
</div>
