.about-container {
  padding: 25px;

  .title {
    font-size: 30px;
    font-weight: 600;
  }

  .content-container {
    margin-top: 50px;

    .subtitle {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 10px;
    }

    .description {
      font-size: 15px;
      font-weight: 500;
      color: #6e6c6c;
    }
  }
}
