<div class="about-container">
  <div class="title">About</div>
  <div class="content-container">
      <div class="subtitle">La RSE au cœur de notre stratégie</div>
      <div class="description">
        Prenant toute la mesure de cette évolution du rôle et des responsabilités des entreprises, le Groupe SNCF a construit son projet stratégique « Tous SNCF » sur la conviction que seule la performance globale est durable, ce qui implique de placer la RSE au cœur de sa stratégie et de s'ouvrir pleinement aux parties constituantes et parties prenantes de l'entreprise.
        L'adoption, le 16 décembre 2021, par le Conseil d'administration d'une nouvelle raison d'être est ainsi venue conclure les travaux du projet d'entreprise et ouvrir une nouvelle étape pour la SNCF. Et numquam internos ut iure repudiandae aut neque voluptas cum voluptatibus deleniti. Quo quae eius aut voluptate dolorum rem officia voluptates nam molestias voluptates eos inventore assumenda et placeat quaerat in harum sunt.
      </div>
  </div>
  <div class="content-container">
    <div class="subtitle">Nos engagements</div>
    <div class="description">
      <ul>
        <li>Répondre aux nouveaux rythmes de vie et à l’évolution des modes de consommation et de production, en facilitant la combinaison des modes de transport.</li>
        <li>S’engager au quotidien pour améliorer les fondamentaux de la qualité de service, en y associant l’ensemble de nos clients, fournisseurs et partenaires.</li>
        <li>Investir dans les métiers et les compétences d’avenir pour faciliter l’insertion professionnelle, l’ascenseur social et les parcours de reconversion.</li>
        <li>Garantir la soutenabilité économique de nos activités, dans l’intérêt du système ferroviaire et de sa performance globale.</li>
        <li>Contribuer au dynamisme économique et social des territoires par nos décisions industrielles et le choix de nos fournisseurs.</li>
        <li>Renforcer notre rôle de catalyseur dans la transition écologique, au bénéfice de la décarbonation des transports et de la santé environnementale.</li>
        <li>Renforcer la confiance que nous inspirons à nos salariés, nos clients et nos partenaires, en plaçant la sécurité et le sentiment de sécurité au cœur de nos décisions.</li>
        <li>Garantir l’engagement de nos parties prenantes, internes et externes, dans l’évolution de nos activités au niveau local, régional et national.</li>
      </ul>
  </div>
</div>
